[submodule ".haxelib/haxeui-core/git"]
	path = .haxelib/haxeui-core/git
	url = https://github.com/haxeui/haxeui-core
[submodule ".haxelib/haxeui-html5/git"]
	path = .haxelib/haxeui-html5/git
	url = https://github.com/haxeui/haxeui-html5
